*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.bg-image{
    background-image: url("universidad.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    filter: blur(0.7px);
    background-position: center center;
}
body{
    height: 100%;
    font-family: sans-serif;
} 
h1{
    font-weight: bolder;
}
.div1{
    margin: 5px;
    padding: 5px;
    border: 5px solid black;
}
img .div1{
    width: 25px;
    height: 25px;
}
.div2{
    margin: 5px;
    padding: 5px;
    border: 5px solid greenyellow;
}